body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.card {
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 80px 40px 50px 70px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #BCBABA;
    grid-template-areas: "image" "team" "status" "member";
}

.card:hover {
    border-color: #F009F0;
    border-width: 1px;
}

.card-image {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    margin-top: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #F009F0;
    background-color: #f8e5f8;
    text-align: center;
    color: #F009F0;
}